html {
  scroll-behavior: smooth;
}

.site-bg {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.site-bg2 {
  background-color: rgb(26, 19, 31) !important;
}
.userTextColor {
  background: linear-gradient(to right, #f87d18, purple) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.history-info {
  background: linear-gradient(to right, #f87d18, purple) !important;
}

.nav-color {
  background-color: #f87d18;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.little-add {
  color: #f87d18;
}

.backtop {
  position: fixed;
  right: 2rem;
  height: 4%;
  bottom: 5rem;
  z-index: 20;
  border-radius: 5rem;
  width: 3%;
  text-align: center;
}

.dontshow {
  display: none !important;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10000;
  position: fixed;
  background-color: black;
  opacity: 0.7;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0;
  opacity: 0.8;
}
.toggle-menu {
}
.user-anchor {
  font-size: 1.1rem !important;
  text-transform: uppercase !important;
}
.toggle-span {
  display: none !important;
}

@media only screen and (max-width: 1000px) {
  .header-align {
    min-width: 100%;
  }
  .backtop {
    width: 10%;
    height: 5%;
    right: 2.5rem;
  }

  .toggle-span {
    display: inline !important;
  }
}
